# Terraform
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
*.backup
.terraform/
.terraform.lock.hcl

# Ansible
*.retry
.vault_pass

# VS Code
.vscode/
*.code-workspace

# OS & Temp
.DS_Store
Thumbs.db
*.log
